<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Initiate RoboPersona:</h3>

    <form class="form new-robot-form">
      <div class="form-group">
        <label for="robot-name">Robot name:</label>
        <input class="form-input" type="text" id="robot-name" name="robot-name" />
      </div>
      <div class="form-group">
        <label for="robot-funding">need funding ($):</label>
        <input class="form-input" type="number" id="robot-funding" name="robot-funding" />
      </div>
      <div class="form-group">
        <label for="robot-img">image:</label>
        <input class="form-input" type="text" id="robot-img" name="robot-img" /> 

      </div>

      <div class="form-group">
        <label for="robot-desc">description:</label>
        <textarea class="form-input" id="robot-desc" name="robot-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if robots.length}}
  <div class="col-md-6 robot-list">
    <h3>Current robots:</h3>

    {{#each robots as |robot|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/robot/{{robot.id}}">{{robot.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{robot.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
