<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metal Mindz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2" id="main-page">
      <h1>
        <span role="img" aria-label="robot">🤖</span>
        <a class="metal-mindz" href="/">Metal Mindz!</a>
      </h1>
      <nav class="login-bar">
        <div class="nav-wrapper">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class= "no-button" id="logout">logout</button>
        {{else}}
        <a href="/login" class="brand-logo center">Login/Sign-up</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5" id="body-container">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Useful FRC Links</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="www.chiefdelphi.com">Chief Delphi</a></li>
                  <li><a class="grey-text text-lighten-3" href="thebluealliance.com">The Blue Alliance</a></li>
                  <li><a class="grey-text text-lighten-3" href="statbotics.io">Statbotics</a></li>
                  <li><a class="grey-text text-lighten-3" href="firstinspires.org">FIRST Inspires</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Copyright Text
            </div>
          </div>
        </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
